
{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up</title>
</head>
<body style="background-color: rgb(252, 249, 194);">
		<div class=" text-center">
			<h1>Sign Up! Hunters!</h1>
			<br>
			<br>
			<form method="Post" action="{% url 'signup' %}" >
			{% csrf_token %}
				<label for="user"><h4>Username :</h4></label><br>
				<input type="text" name="username"  >
				<br><br>
				<label for="pass1"><h4>Password :</h4></label><br>
				<input type="password" name="password1" >
				<br><br>
				<label for="pass1"><h4>Confirm Password :</h4></label><br>
				<input type="password" name="password2" >
				<br>
				<br>
				<label for="btn"></label>
				<input class="btn btn-primary" type="submit" value ="Sign Up" id="btn">
			</form>
		</div>

</body>
</html>

{% endblock %}